<div class="container row">
    <ul class="content-btn">
        <li>
            <button type="button" class="btn disabled" disabled>{{server}}</button>
        </li>
        <li>
            <button type="button" class="btn add-dir" title="Create Folder"><i class="fa fa-folder-o"
                    aria-hidden="true"></i></button>
        </li>
        <li>
            <button type="button" class="btn add-file" title="Add Video"><i class="fa fa-plus"
                    aria-hidden="true"></i></button>
        </li>
        <li>
            <button type="button" class="btn reload-btn" title="Reload"><i class="fa fa-refresh"
                    aria-hidden="true"></i></button>
        </li>
        <li>
            <button type="button" class="btn home-btn" title="Home"><i class="fa fa-home"
                    aria-hidden="true"></i></button>
        </li>
    </ul>
    <br />
    <ul class="content">
    </ul>
</div>