@font-face {
  font-family: 'Satisfy';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../fonts/Satisfy/Satisfy-Regular.ttf');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

.clickable {
  cursor: pointer;
}
.clickable:link {
  text-decoration: none;
}

.clickable:visited {
  text-decoration: none;
}

.clickable:hover {
  text-decoration: none;
}

.clickable:active {
  text-decoration: none;
}

.video-player {
  width: 100% !important;
  height: auto !important;
}

.content {
  list-style-type: none;
}

.content > li {
  box-sizing: border-box;
  background-color: lightyellow;
  border: 1px solid antiquewhite;
  line-height: 40px;
  padding-left: 1em;
  margin-left: -4%;
}

.content > li.dir {
  background-color: lightgoldenrodyellow !important;
}

.content-btn {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.content-btn > li {
  float: right;
  background-color: transparent;
  border: 1px solid transparent;
  line-height: 20px;
  padding: 10px 5px;
}

.content-btn > li > a {
  display: block;
  color: #337ab7;
  text-align: center;
  text-decoration: none;
}

.btn.disabled {
  cursor: text;
}

.swal-overlay {
  background-color: rgba(0, 0, 0, 0.45);
}

.page-header {
  font-family: "Satisfy", cursive !important;
}
