<html>
    <head>
        <title>
            SESSION TIMEOUT
        </title>
    </head>
    <body>
        <center>
            <center>
                <img src="https://d1qhuz9ahqnrhh.cloudfront.net/wp-content/uploads/2015/10/ux-error-401.png"></img>
            </center>
        </center>
    </body>
</html>