<html>
    <head>
        <title>
            404 page not found
        </title>
    </head>
    <body>
        <center>
            <img src="https://www.lifewire.com/thmb/OO7CD06NAdoIwv71DgUgBiTd4ps=/768x0/filters:no_upscale():max_bytes(150000):strip_icc()/shutterstock_325494917-5a68d8403418c600190a3e1f.jpg"></img>
        </center>
    </body>
</html>